/* Esto es un comentario de CSS */

/*
ANATOMIA DEL CSS
selector {
    propiedad: valor;
    propiedad: valor;
}

*/
body {
    background-color: black;
}
h1 {
    color: #C344A3;
}
p {
    color:white;
}
h2 {
    color:#C344A3;
}
h3 {
    color: #C344A3;
}
h4 {
    color: #C344A3;
}
dt {
    color: white;
}dd {
    color: white;
}
hr {
    color: white;
}
li {
    color: white;
}
h1 {
    color: #C344A3;
}
b {
    color: white;
}

td {
    color: #C344A3;
    background-color: rgba(255, 251, 0, 0.788);
}
th {
    color:#C344A3;
    background-color: rgba(255, 251, 0, 0.788);
}
img {
    width: 600px;
    height: 500px;
}

